* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: #0000008c;
}

.destaque {
  font-weight: bold;
}

header {
  background-color: #00cad1;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
}

.logo img {
  width: auto;
  height: 70px;
}

.links-topo {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.links-topo a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.banner {
  height: 50vh;
  padding: 0 15px;

  background-image: url("../assets/recepcao.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .titulo {
  width: 100%;
  max-width: 1024px;
}

.banner .titulo h1,
.banner .titulo p {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: normal;
}

#sobre,
.especialidades,
#contato {
  text-align: center;
  padding: 30px 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo {
  width: 100%;
  max-width: 1024px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.conteudo h3 {
  font-size: 30px;
}

.conteudo p {
  font-size: 20px;
  width: 70%;
}

.detalhes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.lista-detalhes p {
  width: 100%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.lista-detalhes ul li {
  text-align: start;
}

.especialidades {
  flex-direction: column;
}

.galeria {
  width: 100%;
  max-width: 1024px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.card img {
  width: 320px;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card {
  box-shadow: 4px 5px 21px 0px #0000008c;
  border-radius: 5px;
}

.card figcaption {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 0;
}

.horarios button {
  background-color: #00cad1;
  padding: 10px;
  width: 150px;
  border: none;
}

.horarios button a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

#contato {
  flex-direction: column;
}

.mapa {
  padding: 0 10px;
  width: 100%;
}

.mapa iframe {
  width: 100%;
  height: 50vh;
}

footer {
  background-color: #0d6e71;
  width: 100%;
  padding: 15px 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .info p {
  color: #fff;
  margin-bottom: 5px;
}

@media (min-width: 320px) and (max-width: 425px) {
  .topo {
    flex-direction: column;
  }

  .links-topo {
    border-top: 2px solid #0d6e7171;
    padding-top: 15px;
  }

  .banner {
    height: 200px;
  }

  .banner .titulo h1,
  .banner .titulo p {
    font-size: 25px;
  }

   #sobre .conteudo .detalhes figure {
    display: none;
  }

  .galeria {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .conteudo p {
    width: 90%;
  }

  .conteudo h3 {
    font-size: 20px;
  }

  .lista-detalhes ul {
    width: 80%;
    margin: 0 auto;
  }

  .lista-detalhes p {
    width: 100%;
  }

  .mapa {
    padding: 0 10px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .banner {
    height: 300px;
  }

  #sobre .conteudo .detalhes figure {
    display: none;
  }

  .conteudo p,
  .lista-detalhes p {
    font-size: 16px;
  }

  .galeria {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .banner {
    height: 400px;
  }
}

@media (min-width: 1025px) {
  .banner {
    height: 500px;
  }
}
